:root {
  color-scheme: light dark;
  /* color: #e14f00; */
  color: #e8e8e8;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #7a3c1b;
    background-color: #e1dddb;
  }
}